<mat-toolbar color="primary" class="flex flex-row items-center">
    <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>
            menu
        </mat-icon>
    </button>
    <h1>Movie Portal</h1>

    <input type="text" class="h-10 ml-4 pl-2 w-2/5 sm:w-60 text-gray-700 appearance-none outline-none rounded-md"
        placeholder="Search..." [formControl]="search">
</mat-toolbar>
<mat-sidenav-container class="grow">
    <mat-sidenav #snav mode="over">
        <mat-nav-list>
            <a mat-list-item routerLink="/" (click)="snav.toggle()" routerLinkActive="bg-gray-200">
                <mat-icon class="mr-2">grid_view</mat-icon>
                Dashboard
            </a>
            <a mat-list-item routerLink="/favorite" (click)="snav.toggle()" routerLinkActive="bg-gray-200">
                <mat-icon class="mr-2">star_border</mat-icon>
                Favorites
            </a>
            <a mat-list-item routerLink="/later" (click)="snav.toggle()" routerLinkActive="bg-gray-200">
                <mat-icon class="mr-2">bookmark_border</mat-icon>
                Watch Later
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>