:host {

    mat-toolbar {
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    mat-sidenav-container {
        mat-sidenav {
            width: 200px;
        }
    }

    mat-sidenav-content {
        ::ng-deep {
            ng-component {
                height: 100%;
                display: flex;
            }
        }
    }
}