
html {
    //firefox
    scrollbar-color: #393812 transparent;
    scrollbar-width: 8px;

    // chrome
    &::-webkit-scrollbar {
        height: 12px;
        width: 8px;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #393812;
        border-radius: 1ex;
    }

    &::-webkit-scrollbar-corner {
        background: #000;
    }
}
