:host {
  display: block;

  ::-webkit-scrollbar {
    height: 12px;
    width: 8px;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #393812;
    -webkit-border-radius: 1ex;
  }

  ::-webkit-scrollbar-corner {
    background: #000;
  }
}
