:host {
  display: block;

  .btn-genre {
    margin-right: 0.5rem;
  }

  ::-webkit-scrollbar {
    height: 12px;
    width: 8px;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #393812;
    border-radius: 1ex;
  }

  ::-webkit-scrollbar-corner {
    background: #000;
  }
}
