<button mat-flat-button color="primary" [matMenuTriggerFor]="menuGenre" class="self-start btn-genre" aria-label="thumbnail menu">
    {{ genreText || 'Select Genre' }}
</button>
<mat-menu #menuGenre="matMenu">
    <button (click)="onGenreChange(undefined)" mat-menu-item>
        All
    </button>
    <button *ngFor="let gen of genreList$ | async" (click)="onGenreChange(gen)" mat-menu-item>
        {{ gen }}
    </button>
</mat-menu>

<button mat-flat-button color="primary" [matMenuTriggerFor]="menuDecade" class="self-start" aria-label="thumbnail menu">
    {{ selectedDecade | decade }}
</button>
<mat-menu #menuDecade="matMenu">
    <button (click)="onDecadeChange(undefined)" mat-menu-item>
        All
    </button>
    <button *ngFor="let decade of decadeList$ | async" (click)="onDecadeChange(decade)" mat-menu-item>
        {{ decade | decade }}
    </button>
</mat-menu>
<div
    id="thumbnail-list"
    class="container
        h-full
        overflow-x-hidden
        overflow-y-auto
        gap-6 mx-auto
        p-2
        mt-2
        grid grid-cols-1
        sm:grid-cols-3
        md:grid-cols-5
        lg:grid-cols-7"
        infiniteScroll
        [infiniteScrollDistance]="1"
        [scrollWindow]="true"
        (scrolled)="onScroll($event)"
>
    <bit-thumbnail 
        *ngFor="let movie of movieList; trackBy: trackByFn"
        [movie]="movie"
    ></bit-thumbnail>
</div>